# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/

# Files from Forge MDK
forge*changelog.txt

TODO.txt
src/main/java/radon/jujutsu_kaisen/ability/base/Ability.java
